.main{
  /* margin: 0 auto;
  width: 100%; */
}
.title{
  text-align: center;
}
.date{
  text-align: right;
}
.report-body{
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
}
.awards{
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  color: green;
}
.punishments{
  font-weight: bold;
  font-family: Arial;
  font-size: 12px;
  color: red;
}

table{
  font-family: Arial;
  font-size: 12px;
}
/* @media print {
    body * {
      margin-left: 113px;
      margin-top: 75px;
      margin-right: 56px;
      margin-bottom: 75px;
    }
    .main{
        all: none;
    }
} */
@page
{
    size: auto;   /* auto is the initial value */
    width: 100%;
    /* this affects the margin in the printer settings */
    margin-top: 20mm;
    margin-left: 30mm;
    margin-right: 15mm;
    margin-bottom: 20mm;
}
